/* =============================

Base Layout

============================= */


* {
    box-sizing: border-box;
}

body {
	background-color: #F5F5F5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.main-nav li,
.main-content .container {
    background-color: white;
}


.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0;
}
.container h2 {
	padding-bottom: 50px;
}

.container h3 {
	font-weight: 400;
}

.card {
	padding: 0 5% 20px;
	margin: 0 auto;
}

img {
    max-width: 100%;
}

/* =============================

Links

============================= */

a {
	text-decoration: none;
	display: block;
}



a:link,
a:visited,
a:hover,
a:active {
	color: black;
	font-size: 20px;
	font-weight: 700;
}

.footerLinks {
	display: none;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}


a.github {
  background-image: url(../images/github.svg);
}
a.googlePlus {
  background-image: url(../images/google_plus.svg);
}

a.social:hover {
  opacity: 1; }

/* =============================

Header

============================= */

.main-header img {
	max-width: 80%;
}

/* The padding here fixes a problem the left padding caused to the layout. */
.main-nav ul {
	padding: 0;
}

.main-nav li,
.footerLinks {
	list-style-type: none;
	margin-top: 4px;
	padding: 10px;
}

/* =============================

Footer

============================= */

.secondary-footer {
	display: flex;
	justify-content: space-between;
	border-top: solid 1px #C0C0C0;
	padding: 15px 0;
	width: 90%;
	margin: 0 auto;
}

.secondary-footer p {
    font-weight: 700;

}

.secondary-footer a {
	font-size: 16px;
	}

.main-footer ul {
	list-style: none;
}

.main-footer li {
	display: inline;
}
/* =============================

Clearfix

============================= */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* =============================

Media Queries

============================= */



@media (min-width: 768px) {
	
	.profile {
		float: right;
		padding-left: 20px;
	}

	.container {
		width: 100%;
	}
    .main-header .container {
    	width: 90%;
    }

    .main-header p {
    	text-align: left;
    }

	.main-nav {
		padding-bottom: 50px;
	}
	
	.card {
		max-width: 50%;
		padding: 0 2.5% 50px;
		float: left;
	}
    
    /*  .card p max width prevents layout from breaking while growing */

    .card p {
    	width: 80%;
    	margin: 0 auto;
    }

	.main-nav li, 
	a  {
		display: inline;
		background-color: #F5F5F5;
		padding-right: 25px;
	}
    
    .backTop {
    	display: none;
    }

    .main-footer .container {
    	width: 70%;
    }


    .footerLinks,
    .footerLinks li {
    	display: inline;
    	font-weight: 700;

    }


}


@media (min-width: 1024px) {

	

    .flex-header {
    	display: flex;
    	justify-content: space-between;
    }

    .main-header p {
    	padding-left: 25px;
    }
    

	.container {
		width: 90%;
		max-width: 1100px;
	}

    .main-footer .container {
    	width: 50%;
    } 

    a:link,
    a:visited,
    a:hover,
    a:active {
	   color: black;
	   font-size: 15px;
	   font-weight: 700;
    }


    .card {
    	float: left;
    	width: calc(100% / 3);
    }

}






